@import url("tailwind.css");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.css-1aznpnh-MuiSlider-root {
  color: #5d5d5d !important;

  height: 8px !important;
  /* opacity: 0.3 !important; */
}

.css-1gv0vcd-MuiSlider-track {
  border: none !important;
  background: linear-gradient(
    90deg,
    rgba(255, 92, 1, 1) 30%,
    rgba(255, 210, 95, 1) 100%
  ) !important;
}

.css-6cwnna-MuiSlider-mark {
  width: 0px !important;
  height: 0px !important;
}

.css-eg0mwd-MuiSlider-thumb {
  background: #1b1b1b !important;
  border: 6px solid #ffd05d !important;
}

.css-eg0mwd-MuiSlider-thumb::after {
  background: #ffd05d !important;
  opacity: 0;
}

.css-1eoe787-MuiSlider-markLabel {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: white !important;
}
.css-yafthl-MuiSlider-markLabel {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
